/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom styles or overrides below */
@layer base {
  :root {
    --background: #ffffff; /* Color de fondo predeterminado */
    --text-color: #333333; /* Color del texto predeterminado */
    /* Añadir otras variables CSS si es necesario */
  }

  body {
    background-color: var(--background);
    color: var(--text-color);
  }
}
